/* .App {
} */

.App-instructions {
  width: 80%;
  padding-left: 10%;
  padding-bottom: 14px;
}

.App-textArea {
  resize: none;

  font-family: 'Roboto Mono', monospace;
  font-size: inherit;
  color: inherit;

  border: none;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  padding: 8px;
}

.App-entryArea {
  width: 40%;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.App-outputArea {
  width: 40%;
}

.App-stimulusArea {
  width: 40%;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.App-statusArea {
  width: 40%;
  height: 120px;
}

.App-graph {
  width: 40%;
  padding: 8px;
}

.App-neuronArea {
  width: 80%;
  padding-top: 24px;
  padding-bottom: 36px;
  padding-left: 10%;
  white-space: pre;
}

.App-list li {
  display: inline-flex;
  white-space: nowrap;
}

/** Mobile **/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {

  .App-entryArea {
    width: 80%;
  }

  .App-outputArea {
    display: none;
  }

}