/* .App {
} */

.App-logo {
  margin: 8px;
}

.App-control {
    margin: 8px;
  }

.App-textArea {
  border: none;
  outline: none;
  padding: 8px;
  font-size: inherit;
}

.App-entryArea {
  width: 320px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.App-outputArea {
    width: 320px;
}

.App-stimulusArea {
  width: 320px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.App-statusArea {
  width: 320px;
}

.App-graph {
  margin: 8px;
}

.App-neuronStack {
  width: 320px;
}

.App-neuronArea {
  white-space: pre;
  display: flex;
}

/** Mobile -- does any of this work? **/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {

  .App-entryArea {
    width: 80%;
  }

  .App-outputArea {
    display: none;
  }

}