:root {
  --toy-orange: #FF661F;
  --toy-yellow: #FFE81F;
  --toy-blue: #0066FF;
  --toy-white: #FFFFFF;
  --toy-black: #1A1A1A;
  --toy-gray: #E5E5E5;
}

/* .App {
} */

.App-logo {
  margin: 8px;
}

.App-control {
    margin: 8px;
  }

.App-textArea {
  border: none;
  outline: none;
  padding: 8px;
  font-size: inherit;
}

.App-entryArea {
  width: 320px;
  color: var(--toy-black);
  background-color: var(--toy-white);
  border-radius: 4px;
  border: 2px solid var(--toy-orange);
  box-shadow: 4px 4px 0 var(--toy-black);
}

.App-outputArea {
    width: 320px;
    color: var(--toy-blue);
}

.App-stimulusArea {
  width: 320px;
  color: var(--toy-black);
  background-color: var(--toy-white);
  border-radius: 4px;
  border: 2px solid var(--toy-blue);
  box-shadow: 4px 4px 0 var(--toy-black);
}

.App-statusArea {
  width: 320px;
  color: var(--toy-orange);
}

.App-graph {
  margin: 8px;
}

.App-neuronStack {
  width: 320px;
}

.App-neuronArea {
  white-space: pre;
  display: flex;
}

/** Mobile -- does any of this work? **/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {

  .App-entryArea {
    width: 80%;
  }

  .App-outputArea {
    display: none;
  }

}